.forBoxShadow {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	background: #fff;
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-bottom: 20px;
	align-items: center;
}

.text {
	font-size: 18px;
}

.inputLink {
	height: 40px;
	width: 300px;
	border: none;
	background-color: #f1f4f6;
	padding-left: 15px;
	vertical-align: middle;
	color: #000;
	outline: none;
}

.buttonLink {
	border-radius: 4px;
	background-color: #ff6f61;
	width: 112px;
	height: 40px;
	margin-left: 8px;
	border: none;
	vertical-align: middle;
	color: #fff;
}


 /* background: #fffcf8; */