.endRoot {
    background: #fffcf8;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
    padding-top: 20px;
}

.endMain {
    display: flex;
	justify-content: space-between;
	width: 95%;
	margin: auto;
	align-items: center;
}
.endPara {
    text-align: center;
    color: rgb(129, 123, 123);
    font-weight: 600;
}

.visaImg {
    height: 20px;
    width: 30px;
    margin-bottom: 10px;
}

.imgGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}