.container {
    display: flex;
    padding: 4px 0px;
    cursor: pointer;
}

.name {
    margin-left: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

.check {
    border: none;
    outline: none;
}

