.container {
    width: 190px;
    /* padding: 15px; */
    font-size: 12px;
    display: inline-block;
    color: rgb(121, 118, 118);
    font-family:  Helvetica, Arial, sans-serif;
}

.headings {

    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

.inner {
    width: 160px;
    padding: 10px 15px;
    background-color: white;
    margin-bottom: 2px;
    
}

.checkboxes {
    max-height: 225px;
    width: 160px;
    padding-right: 15px;
    overflow: auto;
}