.upiMain {
	padding: 30px;
}
.upiTransferMoney {
	font-weight: 700;
	letter-spacing: 0.5px;
	font-size: 14px;
	color: #333;
}
.imgAndWEacceptMain {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 15px;
}
.imagesUPI {
	display: flex;
	align-items: center;
	height: 35px;
	width: 40px;
}
.line {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #d4c6c6;
}

.savedUpi {
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #333;
}

.payViaUpi {
	font-size: 14px;
	color: #333;
	margin-bottom: 30px;
}

.inputBoxUpi {
	width: 250px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #d4c6c6;
	font-size: 16px;
	padding: 5px 6px;
	outline: none;
}

.format {
	font-size: 12px;
	color: #757575;
}
.checkboxAndText {
	display: flex;
	align-items: center;
	margin-top: 30px;
    padding-left: 0;
    margin-left: -10px;
}

.securely {
    font-size: 12px;
    color: rgb(90, 88, 88);
}

.verifyBtn {
    background-color: #ff6f61;
    color: #fff;
        height: 2.5rem;
    line-height: 1.1rem;
    font-size: .875rem;
    text-align: center;
    border: 0;
    padding: 10px!important;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 4px;
    margin-top: 30px;
}